<ion-grid>
    <ion-row>
        <ion-col col-4>
            <button ion-button small
                    full color="danger"
                    (click)="onResetAll()">
                Reset All
            </button>
        </ion-col>
        <ion-col col-4>
            <button ion-button small
                    full color="danger"
                    (click)="onResetTapped()">
                Reset "Taps"
            </button>
        </ion-col>
        <ion-col col-4>
            <button ion-button small
                    full color="danger"
                    (click)="onResetPressed()">
                Reset "Presses"
            </button>
        </ion-col>
    </ion-row>
</ion-grid>